<div class="backg">
    <div class="dialog-box">

        <div class="box-title">
            <span>Essa conta não é sua?</span>
        </div>

        <div class="box-subtitle">
            <span>Jeremias</span>
        </div>
        <div class="box-subtitle">
            <span>jeremias@gmail.com</span>
        </div>
        <div class="box-subtitle">
            <span>Criada 01/07 21:10</span>
        </div>

        <div class="btn-area">
            <div>
                <button mat-raised-button color="primary">Excluir conta</button>
            </div>
            <div>
                <button mat-button color="primary">Essa conta não é minha</button>
            </div>
        </div>
    </div>
</div>