<div class="backg">

    <div class="title">
        <span class="waste-title">Waste</span>
    </div>

    <div *ngIf="loading" class="loader">
		<mat-spinner class="loader-spiner"></mat-spinner>
	</div>

    <div *ngIf="!loading" class="dialog-box">

        <div class="box-title">
            <span>Essa conta não é sua?</span>
        </div>

        <div class="box-subtitle">
            <span>{{user.displayName}}</span>
        </div>
        <div class="box-subtitle">
            <span>{{user.email}}</span>
        </div>
        <div class="box-subtitle">
            <span>Criada {{user.creationDate.toDate() | date : 'dd/MM/y HH:mm'}}</span>
        </div>

        <div class="btn-area">
            <div>
                <button class="primary-button" mat-raised-button color="primary" (click)="openDeleteAccountModal()">Excluir conta</button>
            </div>
            <div>
                <button mat-button color="primary" (click)="goHome()">Esse email não é meu</button>
            </div>
        </div>
    </div>
</div>