<div class="backg">
    <div class="header">
        <div class="name-holder">
            <span class="name">Fulano Silva</span>
            <p>Plano free</p>
        </div>
    </div>

    <div class="container-box">
        <div>
            <span class="box-title">Cobrança</span>
        </div>

        <div class="list">
            <div *ngFor="let option of options">
                <div class="list-item" (click)="option.action()">
                    <span>{{option.title}}</span>
                    <p>{{option.value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>