.backg {
    background-color: #FCFAFF;
    height: 950px;
}

.title {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.loader-spiner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog-box {
    position: absolute;
    background-color: white;
    border-radius: 20px;
	box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
    width: 400px;
    height: 270px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box-title {
    font-weight: bold;
    font-size: 21px;
    margin-top: 20px;
}

.btn-area {
    margin-top: 10px;
}

.primary-button {
    width: 240px;
    border-radius: 20px;
}

.btn-area button {
    margin-top: 10px;
}