.backg {
    background-color: #FCFAFF;
    height: 950px;
}

.title {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.loader-spiner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}