<div class="backg">
    <div class="title" (click)="goHome()">
        <span class="waste-title">Waste</span>
    </div>

    <div *ngIf="loading" class="loader">
        <mat-spinner class="loader-spiner"></mat-spinner>
    </div>

    <div *ngIf="!loading" class="dialog-box">

        <div class="box-title">
            <span>Nova senha</span>
        </div>

        <div class="txt-input-div">
            <mat-form-field appearance="legacy">
                <mat-label>Confirme seu email</mat-label>
                <input [(ngModel)]="changePaswordForm.email" matInput placeholder="email cadastrado">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div class="txt-input-div">
            <mat-form-field appearance="legacy">
                <mat-label>Nova senha</mat-label>
                <input [(ngModel)]="changePaswordForm.email" matInput placeholder="******">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </div>
        <div class="txt-input-div">
            <mat-form-field appearance="legacy">
                <mat-label>Confirme a nova senha</mat-label>
                <input [(ngModel)]="changePaswordForm.email" matInput placeholder="******">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </div>

        <div class="btn-area">
            <div>
                <button class="primary-button" mat-raised-button color="primary"
                    (click)="openDeleteAccountModal()">Alterar senha</button>
            </div>
        </div>
    </div>

</div>