.content {
    color: #212121;
}

.dialog-title {
    color: #212121;
}

.sub-text {
    color: #9E9E9E;
}

.btn-area {
    margin-top: 20px;
    /* width: 100%; */
    float: right;
}

.btn {
    /* color: black; */
}